<h1>SEMAC</h1>
<br/>

<%= link_to 'Courses', courses_path %>
<br/>
<%= link_to 'Groups', groups_path %>
<br/>
<%= link_to 'Teachers', teachers_path %>
<br/>
<%= link_to 'Students', students_path %>
<br/>
<br/>
<a href="..">Back</a>
<br/>


