<h1>Listing Students</h1>

<table>
  <tr>
    <th>Registration</th>
    <th>Name</th>
  </tr>

<% @students.each do |student| %>
  <tr>
    <td><%= student.registration%></td>
    <td><%= link_to student.name, :action => "show",:id => student %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', :action => ".."%>
